* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Center everything */
body {
    background-color: #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Big white container */
.board-container {
    background-color: #f2f2f2;
    width: 340px;
    height: auto;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 8px 8px 12px #2C608A;
}

/* Title */
.board-title {
    text-align: center;
    margin-bottom: 40px;
    font-weight: 500;
    color: black;
}

/* Small task card */
.task {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;

    /* Blue shadow effect */
    box-shadow: 0 6px 10px #2352D7;
}

/* Header (Title + Date same row) */
.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task h2 {
    font-size: 18px;
    font-weight: 500;
}

.task p,
.task h2{
    color: black;
}

.date {
    font-size: 14px;
}

.description {
    font-size: 14px;
    color: #333;
}

.board-wrapper {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 40px;
}