* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.board-container {
    background-color: #f2f2f2;
    width: 340px;
    height: auto;
    border-radius: 12px;
    padding: 30px;
    box-shadow: 8px 8px 12px #2C608A;
}

.board-title {
    text-align: center;
    font-weight: 500;
    color: black;
}

.task {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

.task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.task h2 {
    font-size: 18px;
    font-weight: bold;
}

.task p,
.task h2{
    color: black;
}

.date {
    font-size: 14px;
}

p.discription {
    display: flex !important;
    line-height: normal;
    padding-top: 5px;
}

.board-wrapper {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 40px;
}

.task-button{
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 0;
}

.task-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.delete-button{
    display: flex;
    justify-content: center;
    background-color: #1C2176;
    width: 10px;
    border: none;
    color: white;
}

textarea{
    resize: none;
}