.task-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.task-form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 300px;
    background-color: #8EB1CD;
    padding: 20px;
    border-radius: 5px;
}

textarea{
    resize: none;
}

.form-button{
    background-color: #2C608A;
    border-radius: 5px;
    color: white;
}