#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.Header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100; 
  padding-bottom: 20px;
}

.Title {
  font-size: 2.5rem;
  color: #000000;
  margin-bottom: 1rem;
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.card{
  display: flex;
  flex-direction: column;
  gap: 10px ;
}

/* Responsive design */

@media screen and (max-width: 400px){
  .board-wrapper {
    flex-direction: column;
    width: 100vw;
    position: relative;
    top: 100px;
  }

  .Header{
    flex-direction: row;
    gap: 80px;
    padding-left: 10px;
  }
}